/* TAGS */

*{
    margin: 0;
    padding: 0;
}

/* IDS */
#logo{
    float: left;
}

#menu{
    margin-top:30px;
    float:right;
}
  
#menu a{
    padding:52px 20px;
    text-decoration: none;
    color:#111;
    text-shadow: 1px 1px #111111;
}
  
#menu a:hover{
    background-color:#66CDAA;
    color:#111;
}

/* class */

.container{
    background-image: url('images.jpeg');
    /* clear:both; */
    /* background-attachment: fixed; */
    background-size:100%;
    background-repeat: no-repeat;
    min-height: 768px;
    min-width: 100%;
    opacity: 0.5;
}