<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel=icon href=images/logo_icon.png />
		<title>Home - Reserva de Salas de estudos</title>
		<meta charset="utf-8">
	</head>

	<body>
		
		<header>
			<div id="logo">
				<img src="images/logoAnhembi.jpeg">
			</div>

			<div id="menu">
				<a href="home.html">Home</a>
				<a href="login.html">Login</a>
				<a href="salas.html">Salas</a>
				<a href=# onclick="window.open('cadastro.html', 'Janela',
            'menubar=no,resizable=no,width=640,height=480'); return false;">Cadastro</a>
			</div>
		</header>

		<div id="principal">
			<div class="efeito">
				<div class="container">
					<h1>Bem-vindo à reserva de salas de estudos da Universidade Anhembi Morumbi</h1>
					<span>Este portal tem como objetivo, auxiliar estudantes e docentes, quanto a 
						reserva de salas e laboratórios do Universidade Anhembi Morumbi. Na primeira fase, 
						essa aplicação será de uso exclusivo do Campus Vila Olimpia, para que seja homologada
						 e disponibilizada para os demais Campus.
					</span>
				</div>
			</div>
		</div>

	</body>
	<footer><br>Desenvolvido por Igor.<br>Designers Léo e Tio Phil</footer>
</html>